<?xml version="1.0"?>
<launch>    
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="vehicle_name" default="uav"/>
    <arg name="group" default="true"/>
    <arg name="camera_pose_parent_frame" default="map"/>
    <!-- Set to true if you want to publish a static transform from map to vehicle base_link 
    if using px4_base package with supervisor set to false.-->
    <arg name="need_transform" default="false"/> 

    <!-- Start Gazebo Simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uvify_sitl)/rviz/uvify_sitl.rviz" required="false"/>

    <group ns="uav0">
        <arg name="ID" value="0"/>
        <!-- MAVROS and vehicle configs -->
        <arg name="_temp1" default="udp://:"/>
        <arg name="_temp2" default="$(eval 14540 + arg('ID'))"/>
        <arg name="_temp3" default="@localhost:"/>
        <arg name="_temp4" default="$(eval 14580 + arg('ID'))"/>
        <arg name="fcu_url" default="$(arg _temp1)$(arg _temp2)$(arg _temp3)$(arg _temp4)"/>

        <!-- Spawn vehicle -->
        <include file="$(find uvify_sitl)/launch/spawn_single.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle_name" value="$(arg vehicle_name)"/>
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
            <arg name="camera_pose_parent_frame" value="$(arg camera_pose_parent_frame)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>

        <!-- Transform to world -->
        <group if="$(arg need_transform)" ns="$(arg vehicle_name)$(arg ID)">
            <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg vehicle_name)$(arg ID)" args="0 0 0 0 0 0 map $(arg vehicle_name)$(arg ID)/base_link 100" />
        </group>

    </group>    
</launch>