<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="materials">
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
    <material name="Blue">
        <color rgba="0 0 1 1"/>
    </material>
    <material name="DarkGrey">
        <color rgba="0.2 0.2 0.2 1"/>
    </material>
    <material name="Aluminum">
        <color rgba="0.5 0.5 0.5 1"/>
    </material>
</robot>