<?xml version="1.0"?> 
<robot name='iris_depth_camera' xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- This is the main top-level file-->
    <xacro:arg name="mavlink_tcp_port" default="4560" />
    <xacro:arg name="mavlink_udp_port" default="14560" />
    <xacro:arg name="namespace" default=""/>
    <xacro:arg name="camera" default="true"/>

    <!-- The following plugin is used to publish the ground truth odometry of the robot
    <plugin name="robot_groundtruth_sim" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <bodyName>iris::base_link</bodyName>
      <topicName>odometry</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin> -->

    <!-- Include base -->
    <xacro:include filename="$(find ifo_description)/xacro/iris.xacro" />
    <xacro:iris_base_macro mavlink_tcp_port="$(arg mavlink_tcp_port)" mavlink_udp_port="$(arg mavlink_udp_port)" namespace="$(arg namespace)"/>

    <xacro:if value="$(arg camera)">
        <xacro:include filename="$(find ifo_description)/xacro/d435.xacro"/>
        <xacro:sensor_d435 parent="base_link" name="$(arg namespace)/camera" topics_ns="$(arg namespace)" publish_pointcloud="true">
            <origin xyz="0.12 0 0" rpy="0 0 0" />
        </xacro:sensor_d435>
    </xacro:if>
</robot>